body{
  min-height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: rgb(85, 215, 34);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50rem;
  height: 100rem;
  margin: 0;
  /* background-color: blueviolet; */
}

/* TITLE */

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: black;
  margin-bottom: 2rem;
}

.logo-background {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.logo-background img {
  width: 25rem;
  height: 100%;
  visibility: hidden;
}



/* SCORE & LIVES */

.mid-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: black;
}

.score-div {
  margin-left: 0.5rem;
  width: 25%;
  height: 50%;
  padding-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: blueviolet; */
}

.lives-div {
  margin-right: 0.5rem;
  width: 15%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}

/* GAME GRID */

.game-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 99.3%;
  height: 50rem;
  background-color: black;
  border: 3px solid rgb(58, 205, 0);
}

.game-grid div {
  /* border: 1px solid lightgrey; */
  color: white;
  flex-grow: 1;
  height: 8.5%;
  width: 8.5%;
}

#start-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 2;
  cursor: pointer;
}

#start-btn {
  height: 3rem;
  width: 7rem;
  margin-top: 0.5rem;
  font-family: 'Press Start 2P', cursive;
  color: rgb(85, 215, 34);
  background-color: black;
  border: 3px solid rgb(58, 205, 0);
}

#overlay-box {
  width: 20rem;
  height: 20rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: rgb(85, 215, 34);
  border: 3px solid rgb(58, 205, 0);
}

#gameover-overlay {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 2;
  cursor: pointer;
}

#gameover-box {
  width: 20rem;
  height: 20rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: rgb(85, 215, 34);
  border: 3px solid rgb(58, 205, 0);
}

#playagain-btn {
  height: 3rem;
  width: 7rem;
  margin-top: 0.5rem;
  font-family: 'Press Start 2P', cursive;
  color: rgb(85, 215, 34);
  background-color: black;
  border: 3px solid rgb(58, 205, 0);
}

/* BOTTOM */

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 35rem;
  /* background-color: red; */
}

.mute {
  height: 3rem;
  width: 7rem;
  margin-top: 0.5rem;
  font-family: 'Press Start 2P', cursive;
  color: rgb(85, 215, 34);
  background-color: black;
  border: 3px solid rgb(58, 205, 0);
}

/* CHARACTER CLASSES */

.invader {
  background-image: url('../images/invader.png');
  background-repeat:no-repeat;
  background-size: 3.5rem;
  background-position: center;
}

.spaceship {
  background-image: url('../images/spaceship.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
}

.laser {
  background-image: url('../images/laser.png');
  background-repeat:no-repeat;
  background-size: 4rem;
  background-position: center;
}

.explosion {
  background-image: url('../images/explosion.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
}

.bomb {
  background-image: url('../images/bomb.png');
  background-repeat:no-repeat;
  background-size: 3rem;
  background-position: center;
}