body{
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Press Start 2P', Arial;
  color: rgb(85, 215, 34);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35rem;
  height: 60rem;
  margin: 0;
  /* background-color: blueviolet; */
}

/* TITLE */

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: black;
  margin-bottom: 2rem;
}

.logo-background {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.logo-background img {
  width: 25rem;
  height: 100%;
  visibility: hidden;
}



/* SCORE & LIVES */

.mid-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  height: 4rem;
  background-color: black;
}

.score-div {
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: blueviolet; */
}

.lives-div {
  margin-right: 0.5rem;
  width: 15%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}

/* GAME GRID */

.game-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 99.3%;
  height: 35rem;
  background-color: black;
  border: 3px solid rgb(58, 205, 0);
}

.game-grid div {
  /* border: 1px solid lightgrey; */
  color: white;
  flex-grow: 1;
  height: 8.5%;
  width: 8.5%;
}

#start-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 2;
}

#start-btn {
  height: 2rem;
  width: 7.5rem;
  font-size: 0.6rem;
  margin-top: 0.5rem;
  font-family: 'Press Start 2P', cursive;
  color: rgb(85, 215, 34);
  background-color: black;
  border: 3px solid rgb(58, 205, 0);
  cursor: pointer;
}

#overlay-box {
  width: 17rem;
  height: 17rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: rgb(85, 215, 34);
  border: 3px solid rgb(58, 205, 0);
}

#start-btn:hover {
  color: white;
  background-color: black;
  border: 3px solid white;
}

#overlay-title {
  font-size: 1.5rem;
  text-align: center;
}

#overlay-in {
  font-size: 0.6rem;
  width: 80%;
  text-align: center;
  line-height: 1.3;
}

#gameover-overlay {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 2;
}

#gameover-box {
  width: 17rem;
  height: 17rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: rgb(85, 215, 34);
  border: 3px solid rgb(58, 205, 0);
}

#playagain-btn {
  height: 2rem;
  width: 7.5rem;
  font-size: 0.6rem;
  margin-top: 0.5rem;
  font-family: 'Press Start 2P', cursive;
  color: rgb(85, 215, 34);
  background-color: black;
  border: 3px solid rgb(58, 205, 0);
  cursor: pointer;
}

#playagain-btn:hover {
  color: white;
  background-color: black;
  border: 3px solid white;
}

#winner-overlay {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 2;
}

#winner-box {
  width: 17rem;
  height: 17rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: rgb(85, 215, 34);
  border: 3px solid rgb(58, 205, 0);
}

#winnerplay-btn {
  height: 2rem;
  width: 7.5rem;
  font-size: 0.6rem;
  margin-top: 0.5rem;
  font-family: 'Press Start 2P', cursive;
  color: rgb(85, 215, 34);
  background-color: black;
  border: 3px solid rgb(58, 205, 0);
  cursor: pointer;
}

#winnerplay-btn:hover {
  color: white;
  background-color: black;
  border: 3px solid white;
}

/* BOTTOM */

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 20rem;
  /* background-color: red; */
}


/* GAME CHARACTER CLASSES */

.invader {
  background-image: url('../images/invader.png');
  background-repeat:no-repeat;
  background-size: 2.5rem;
  background-position: center;
}

.spaceship {
  background-image: url('../images/spaceship.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
}

.laser {
  background-image: url('../images/laser.png');
  background-repeat:no-repeat;
  background-size: 2.5rem;
  background-position: center;
}

.explosion {
  background-image: url('../images/explosion.png');
  background-repeat:no-repeat;
  background-size: 2rem;
  background-position: center;
}

.bomb {
  background-image: url('../images/bomb.png');
  background-repeat:no-repeat;
  background-size: 2rem;
  background-position: center;
}